@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --primary-background: rgb(83, 7, 7);
    --btn-color:turquoise;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background);
    font-family: poppins, 'sans-serif';
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 22em;
    height: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
}

.inner-container h1{
    margin: 20px auto 10px;
    font-size: 500;
    font-weight: 500;
}

.add-button {
    width: 100px;
    height: 3em;
    padding: 10px 25px;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:var(--btn-color) ;
    font-family: poppins, 'sans-serif';
    font-size: 200;
    font-weight: 500;
}

#input-field {
    width: 150px;
    height: 30px;
    outline: none;
    font-size: 200;
    font-weight: 500;
    border: none;
    font-family: poppins, 'sans-serif';
}

#input-field:focus,  #input-field:hover{
    border-bottom: 2px solid black;   
}

#display-div {
    width: 300px;
}

#list-cont li{
   list-style: none; 
   margin-left: 1em;
   margin-top: 10px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

hr {
    width: 90%;
    height: 1px;
    color: darkslategrey;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

ul {
   width: 300px;
}


button, .fa {
    cursor: pointer;
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
}

/* .edit .del {
    float: right;
} */

#input-area{
    border: none;
    outline: none;
    color: black;
    resize: none;
}