@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --primary-background: rgb(83, 7, 7);
    --btn-color: rgb(21, 21, 226);;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background);
    font-family: poppins, 'sans-serif';
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 22em;
    height: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
}

.inner-container h1{
    margin: 20px auto 10px;
    font-size: 500;
    font-weight: 500;
}

.add-button {
    width: 100px;
    height: 3em;
    padding: 10px 25px;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:var(--btn-color);
    color: white;
    font-family: poppins, 'sans-serif';
    font-size: 400;
    font-weight: 700;
    letter-spacing: .1em;
}

#input-field {
    width: 150px;
    height: 30px;
    outline: none;
    font-size: 200;
    font-weight: 500;
    border: none;
    font-family: poppins, 'sans-serif';
}

#input-field:focus,  #input-field:hover{
    border-bottom: 2px solid black;   
}

#display-div {
    width: 300px;
    align-items: center;
    justify-content: center;
}

#list-cont li{
   list-style: none; 
   margin-left: 1em;
   border-bottom: 1px solid grey;
   padding: .5em;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

hr {
    width: 90%;
    height: 1px;
    color: darkslategrey;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: 15px;
}

ul {
   width: 300px;
   padding-top: .5em;
}


button, .fa {
    cursor: pointer;
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
}

.delete {
    box-sizing: content-box;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(241, 35, 35);
    color: white;
    border: none;
    border-radius: 20%;
}

.edit {
    box-sizing: content-box;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 20%;
}

#input-area{
    border: none;
    outline: none;
    color: black;
    resize: none;
}

#popCont{
    background: grey;
    padding: .1em .5em .1em .5em;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: .5s;
}